@page "/CreateWorker"
@using Domain.DTOs.Worker
@using HttpClients.Interfaces
@inject IWorkerService workerHttpClient

<h3>Create worker</h3>

<div>
    <label>First name:</label> <input @bind="currentFirstnameValue"/> <br/>
    <label>Last name:</label> <input @bind="currentLastnameValue"/> <br/>
    <label>PhoneNumber:</label> <input @bind="currentPhoneNumberValue"/> <br/>
    <label>Mail:</label> <input @bind="currentMailValue"/> <br/>
    <label>Address:</label> <input @bind="currentAddressValue"/> <br/>
    
    <button @onclick="CreateWorkerMethod">Create worker</button>
</div>

@code {
    private string currentFirstnameValue { get; set; }
    private string currentLastnameValue { get; set; }
    private string currentPhoneNumberValue { get; set; }
    private string currentMailValue { get; set; }
    private string currentAddressValue { get; set; }


    private async void CreateWorkerMethod()
    {
        await workerHttpClient.CreateAsync(new WorkerCreationDto(
            currentFirstnameValue,
            currentLastnameValue,
            int.Parse(currentPhoneNumberValue),
            currentMailValue,
            currentAddressValue));
    }
}