table {
    border:1px solid black;
}

tr{
    border:1px solid black;
}

td {
    border:1px solid black;
}

.noBorder{
    border:0;
}

.onlyBorderBottom{
    border:0;
    border-bottom: 1px solid black;
}